<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{name}} | Nayana Travel Agency Homepage</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/styles/theme.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <!-- Fontawesome 6 icons -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" crossorigin="anonymous"
    referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css"
    integrity="sha512-ZKX+BvQihRJPA8CROKBhDNvoc2aDMOdAlcm7TUQY+35XYtrd3yh95QOOhsPDQY9QnKE0Wqag9y38OIgEvb88cA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
<script>
    Weglot.initialize({
        api_key: 'wg_3d6c9c54db8f4b2524552a02359fad271'
    });
</script>
</head>

<body>
  <!-- Navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Nayana Travel Agency</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="nav-item">
                <a class="nav-link" href="/flights">Flights</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/hotels">Hotels</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/shuttles">Shuttles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/map">Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/weather">Weather</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/messaging">Messaging</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/explore">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/marketplace">Marketplace</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <section class="hero-section"
    style="height:50vh;background-image:url({{image}});background-position: center;background-size: cover;">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-10 col-lg-8">
          <div class="hero-content text-center pt-5">
            <h1>{{name}}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Main Content -->
  <main>
    <section class="py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Tour Package Highlights -->
            <div class="mb-5">
              <h2 class="mb-3">Tour Package Highlights</h2>
              <ul class="list-group list-group-flush">
                {{#each highlights}}
                <li class="list-group-item">{{this}}</li>
                {{/each}}
              </ul>
            </div>

            <!-- Tour Package Description -->
            <div class="mb-5">
              <h2 class="mb-3">Tour Package Description</h2>
              <p class="lead mb-0">{{description}} </p>
            </div>

            <!-- Tour Package Itinerary -->
            <div class="accordion mb-5" id="itineraryAccordion">
              {{#each itinerary}}
              <div class="accordion-item">
                <h2 class="accordion-header" id="day{{@index}}Heading">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#day{{@index}}Content" aria-expanded="false" aria-controls="day{{@index}}Content">
                    {{Day}}:
                    {{Title}}
                  </button>
                </h2>
                <div id="day{{@index}}Content" class="accordion-collapse collapse"
                  aria-labelledby="day{{@index}}Heading" data-bs-parent="#itineraryAccordion">
                  <div class="accordion-body">
                    <p>{{Description}}</p>
                  </div>
                  <div class="accordion-body">
                    <p>Meals:
                      {{#each meals}}{{this}}{{#unless @last}},
                      {{/unless}}{{/each}}</p>
                    <p>Accommodation: {{accommodation}}</p>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>

            <!-- Tour Package Includes -->
            <div class="mb-5">
              <section id="tour-includes">
                <div class="row">
                  <div class="col-md-6">
                    <h2 class="mb-3">Tour Package Includes</h2>
                    <ul class="list-group-item ps-4">
                      {{#each includes}}
                      <li><i class="bi bi-check-circle-fill"></i>{{this}}</li>
                      {{/each}}
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h2 class="mb-3">Tour Package Excludes</h2>
                    <ul class="list-group-item ps-4">
                      {{#each excludes}}
                      <li><i class="bi bi-x-circle-fill"></i>{{this}}</li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </section>
            </div>

            <section id="gallery">
              <div class="container">
                <h2 class="section-heading">Gallery</h2>
                <div class="row">
                  {{#each gallery}}
                  <div class="col-lg-4 col-md-6 mb-4">
                    <a href="{{url}}" data-lightbox="gallery" data-title="{{alt}}">
                      <img class="img-fluid" src="{{preview-url}}" alt="{{alt}}" />
                    </a>
                  </div>
                  {{/each}}
                </div>

              </div>
            </section>

            <section id="reviews">
              <div class="container">
                <h2 class="section-heading">Reviews</h2>
                <div id="reviews-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                  <div class="carousel-indicators" style="bottom: -50px;">
                    {{#each reviews}}
                    <button type="button" data-bs-target="#reviews-carousel" data-bs-slide-to="{{@index}}"
                      {{#if @first}}class="active" aria-current="true"{{/if}} aria-label="Slide {{@index}}"></button>
                    {{/each}}
                  </div>
                  <div class="carousel-inner">
                    {{#each reviews}}
                    <div class="carousel-item{{#if @first}} active{{/if}}">
                      <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-6">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">{{title}}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">by {{name}}</h6>
                              <p class="card-text">{{review}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {{/each}}

                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#reviews-carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#reviews-carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>

                </div>
              </div>
            </section>

          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="bg-light py-3 mt-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="text-muted mb-0">Nayana Travel Agency &copy; 2023</p>
        </div>
        <div class="col-md-6">
          <p class="text-muted mb-0 text-right">Designed by Nayanajitha</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox-plus-jquery.min.js"
    integrity="sha512-U9dKDqsXAE11UA9kZ0XKFyZ2gQCj+3AwZdBMni7yXSvWqLFEj8C1s7wRmWl9iyij8d5zb4wm56j4z/JVEwS77g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>